### NLP Representations Exercise

In [1]:
# import pandas
import pandas as pd

# import CountVectorizer
from sklearn.feature_extraction.text import CountVectorizer
 
# import TfidfTransformer 
from sklearn.feature_extraction.text import TfidfTransformer

# import TfidfVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
docs=["the house had a tiny little mouse",
      "the cat saw the mouse",
      "the mouse ran away from the house",
      "the cat finally ate the mouse",
      "the end of the mouse story"
     ]

# BagOfWords

* instantiate [CountVectorizer()](https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.CountVectorizer.html)

In [3]:
counter = CountVectorizer()

* use fit_transform method of CountVectorizer to 'docs' and store the result in 'word_count_vector'

In [4]:
word_count_vector = counter.fit_transform(docs)

* print the shape

In [5]:
word_count_vector.shape

(5, 16)

In [8]:
print(word_count_vector)

  (0, 14)	1
  (0, 7)	1
  (0, 6)	1
  (0, 15)	1
  (0, 8)	1
  (0, 9)	1
  (1, 14)	2
  (1, 9)	1
  (1, 2)	1
  (1, 12)	1
  (2, 14)	2
  (2, 7)	1
  (2, 9)	1
  (2, 11)	1
  (2, 1)	1
  (2, 5)	1
  (3, 14)	2
  (3, 9)	1
  (3, 2)	1
  (3, 4)	1
  (3, 0)	1
  (4, 14)	2
  (4, 9)	1
  (4, 3)	1
  (4, 10)	1
  (4, 13)	1

* create dataframe from word_count_vector

In [9]:
my_df = pd.DataFrame(word_count_vector.toarray(), columns=counter.get_feature_names_out())
my_df

,ate,away,cat,end,finally,from,had,house,little,mouse,of,ran,saw,story,the,tiny
0,0,0,0,0,0,0,1,1,1,1,0,0,0,0,1,1
1,0,0,1,0,0,0,0,0,0,1,0,0,1,0,2,0
2,0,1,0,0,0,1,0,1,0,1,0,1,0,0,2,0
3,1,0,1,0,1,0,0,0,0,1,0,0,0,0,2,0
4,0,0,0,1,0,0,0,0,0,1,1,0,0,1,2,0

# TfIdf with TfidfTransformer

* instantiate [TfidfTransformer()](https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfTransformer.html) with the following parameters: 
    * smooth_idf = True
    * use_idf = True

In [10]:
transformer = TfidfTransformer(smooth_idf=True, use_idf=True)

* use fit_transform method of tfidf transformer on 'word_count_vector' created above and store the result in 'tf_idf_data'

In [11]:
tf_idf_data = transformer.fit_transform(word_count_vector)

* create dataframe from 'tf_idf_data'

In [13]:
tf_df = pd.DataFrame(tf_idf_data.toarray(), columns=transformer.get_feature_names_out())

* print the IDF for words in 'docs'

In [14]:
tf_df

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13,x14,x15
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.493562,0.398203,0.493562,0.235185,0.000000,0.000000,0.000000,0.000000,0.235185,0.493562
1,0.000000,0.000000,0.483344,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.285471,0.000000,0.000000,0.599092,0.000000,0.570941,0.000000
2,0.000000,0.457093,0.000000,0.000000,0.000000,0.457093,0.000000,0.368780,0.000000,0.217807,0.000000,0.457093,0.000000,0.000000,0.435614,0.000000
3,0.513923,0.000000,0.414630,0.000000,0.513923,0.000000,0.000000,0.000000,0.000000,0.244887,0.000000,0.000000,0.000000,0.000000,0.489774,0.000000
4,0.000000,0.000000,0.000000,0.491753,0.000000,0.000000,0.000000,0.000000,0.000000,0.234323,0.491753,0.000000,0.000000,0.491753,0.468646,0.000000

# TfIdf with TfidfVectorizer

* instantiate [TfidfVectorizer](https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfVectorizer.html) with the following parameters:
    - use_idf = True

In [15]:
tf_vector = TfidfVectorizer(use_idf=True)

* fit and transforn 'docs' with TfidfVectorizer and store the result in 'tfidf_vectorizer_data'

In [16]:
tfidf_vectorizer_data = tf_vector.fit_transform(docs)

* create dataframe from tfidf_vectorizer_data

In [18]:
tf_vector_df = pd.DataFrame(tfidf_vectorizer_data.toarray(), columns=tf_vector.get_feature_names_out())

* print 'df_tf_idf'

In [19]:
tf_vector_df

,ate,away,cat,end,finally,from,had,house,little,mouse,of,ran,saw,story,the,tiny
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.493562,0.398203,0.493562,0.235185,0.000000,0.000000,0.000000,0.000000,0.235185,0.493562
1,0.000000,0.000000,0.483344,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.285471,0.000000,0.000000,0.599092,0.000000,0.570941,0.000000
2,0.000000,0.457093,0.000000,0.000000,0.000000,0.457093,0.000000,0.368780,0.000000,0.217807,0.000000,0.457093,0.000000,0.000000,0.435614,0.000000
3,0.513923,0.000000,0.414630,0.000000,0.513923,0.000000,0.000000,0.000000,0.000000,0.244887,0.000000,0.000000,0.000000,0.000000,0.489774,0.000000
4,0.000000,0.000000,0.000000,0.491753,0.000000,0.000000,0.000000,0.000000,0.000000,0.234323,0.491753,0.000000,0.000000,0.491753,0.468646,0.000000

* print IDF for words in 'docs'

In [21]:
for string in docs:
    for word in string.split():
        if word not in tf_vector_df.columns:
            pass
        else:
            print(f"{word}: {tf_vector_df[word]}")

the: 0    0.235185
1    0.570941
2    0.435614
3    0.489774
4    0.468646
Name: the, dtype: float64
house: 0    0.398203
1    0.000000
2    0.368780
3    0.000000
4    0.000000
Name: house, dtype: float64
had: 0    0.493562
1    0.000000
2    0.000000
3    0.000000
4    0.000000
Name: had, dtype: float64
tiny: 0    0.493562
1    0.000000
2    0.000000
3    0.000000
4    0.000000
Name: tiny, dtype: float64
little: 0    0.493562
1    0.000000
2    0.000000
3    0.000000
4    0.000000
Name: little, dtype: float64
mouse: 0    0.235185
1    0.285471
2    0.217807
3    0.244887
4    0.234323
Name: mouse, dtype: float64
the: 0    0.235185
1    0.570941
2    0.435614
3    0.489774
4    0.468646
Name: the, dtype: float64
cat: 0    0.000000
1    0.483344
2    0.000000
3    0.414630
4    0.000000
Name: cat, dtype: float64
saw: 0    0.000000
1    0.599092
2    0.000000
3    0.000000
4    0.000000
Name: saw, dtype: float64
the: 0    0.235185
1    0.570941
2    0.435614
3    0.489774
4    0.468646
Name: the, dtype: float64
mouse: 0    0.235185
1    0.285471
2    0.217807
3    0.244887
4    0.234323
Name: mouse, dtype: float64
the: 0    0.235185
1    0.570941
2    0.435614
3    0.489774
4    0.468646
Name: the, dtype: float64
mouse: 0    0.235185
1    0.285471
2    0.217807
3    0.244887
4    0.234323
Name: mouse, dtype: float64
ran: 0    0.000000
1    0.000000
2    0.457093
3    0.000000
4    0.000000
Name: ran, dtype: float64
away: 0    0.000000
1    0.000000
2    0.457093
3    0.000000
4    0.000000
Name: away, dtype: float64
from: 0    0.000000
1    0.000000
2    0.457093
3    0.000000
4    0.000000
Name: from, dtype: float64
the: 0    0.235185
1    0.570941
2    0.435614
3    0.489774
4    0.468646
Name: the, dtype: float64
house: 0    0.398203
1    0.000000
2    0.368780
3    0.000000
4    0.000000
Name: house, dtype: float64
the: 0    0.235185
1    0.570941
2    0.435614
3    0.489774
4    0.468646
Name: the, dtype: float64
cat: 0    0.000000
1    0.483344
2    0.000000
3    0.414630
4    0.000000
Name: cat, dtype: float64
finally: 0    0.000000
1    0.000000
2    0.000000
3    0.513923
4    0.000000
Name: finally, dtype: float64
ate: 0    0.000000
1    0.000000
2    0.000000
3    0.513923
4    0.000000
Name: ate, dtype: float64
the: 0    0.235185
1    0.570941
2    0.435614
3    0.489774
4    0.468646
Name: the, dtype: float64
mouse: 0    0.235185
1    0.285471
2    0.217807
3    0.244887
4    0.234323
Name: mouse, dtype: float64
the: 0    0.235185
1    0.570941
2    0.435614
3    0.489774
4    0.468646
Name: the, dtype: float64
end: 0    0.000000
1    0.000000
2    0.000000
3    0.000000
4    0.491753
Name: end, dtype: float64
of: 0    0.000000
1    0.000000
2    0.000000
3    0.000000
4    0.491753
Name: of, dtype: float64
the: 0    0.235185
1    0.570941
2    0.435614
3    0.489774
4    0.468646
Name: the, dtype: float64
mouse: 0    0.235185
1    0.285471
2    0.217807
3    0.244887
4    0.234323
Name: mouse, dtype: float64
story: 0    0.000000
1    0.000000
2    0.000000
3    0.000000
4    0.491753
Name: story, dtype: float64